
	<div class="container"> 

		<div class="row">
			
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">

				<div class="row panel">
					<div class="col-xs-12">
						<h1 class="page-title">Ruby Basics – for beginners</h1>
						<p>A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.
</p>
					</div>
				</div>
				<div class="row panel">
					<div class="col-xs-12">
						<h4>Ruby Basics</h4>
						<p><img src="/assets/r1.jpg" alt=""></p>
					</div>
				</div>
				

			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			<article class="col-md-8 maincontent">
				<header class="page-header">
					<h3 class="page-title">Duration-15hrs</h3>

				</header>



				<h3>Topics Covered</h3>
				<div>
				<h2><u>Introduction to Ruby</u></h2>
				<li>
Installing Ruby</li>

<li>Installing Devkit</li>
<li>Object Oriented Programming concepts</li>
<li>Ruby – IRB</li>
<li>Ruby Operators</li>
<li>Ruby Variables</li>
<li>Ruby Data Types</li>
<li>Class Hierarchy</li>
<li>Ruby Basics</li>
<li>Objects and Classes</li>
<li>Modules</li>
<li>Mixins</li>
<li>Methods</li>
<li>Numbers</li>
<li>String</li>
<li>Type Casting</li>
<li>Conditional statements</li>
<li>Loops and Iterators
</li>
</div>
<div>
	<h2><u>Ruby Advanced Topics</u></h2>
<li>Array</li>
<li>Hashes</li>
<li>Regular Expressions </li>
<li>Blocks </li>
<li>Proc and Lambda</li>
<li>Ranges</li>
<li>Exception Handling</li>
<li>Files and IO</li>


				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	


