

	<!-- container -->
	<div class="container">

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">About us</h1>
					<p>RSun Technology is a leading Training Academy, which was set up in 2010, has today grown to be the India's leading RoR Training Institute offering learning solutions to Individuals, Coporates and Institutions across India.</p>


				</header>
				<h3>MISSION</h3>
				<p><img src="/assets/about.jpg" alt="" class="img-rounded pull-right" width="300" > Deliver rich and effortless training experience to customers by taking complete ownership of end-to-end training process; take an economical, efficient and flexible approach to organize and deliver training. </p>
				<p>We strive to exceed customer expectations and meet training objectives this includes ensuring employees have a comprehensive learning experience and are able to derive immediate measurable benefits and long term commercial gain from their training investment.</p>
				<h3>VISION</h3>
				<p>At RSun Technology, we are committed to transform the way the corporate training is procured, organized, delivered, and training results measured - setting the benchmarks in the Corporate Training Industry & be the leader - enabling organizations & communities to swiftly enrich their knowledge capital/skills.</p>
				<h3>Why Ruby on Rails?</h3>
				<p>Many companies have asked the questions "What's the fastest way to develop my web apps?" and "Should I use Java, Ruby, Python or something else?" These companies range from start-ups to established enterprises, and many have come to the conclusion that when creating apps that are designed to be delivered on the web, Ruby on Rails is the best choice.</p>
				<p>Ruby on Rails is an open-source web application framework for the Ruby programming language. The growing demand for Ruby on Rails has been driven by successful companies who benefit from the speed and agility of building applications in Rails, which results in increased productivity and company growth.
				</p>
				
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="panel">
					<h4>Latest News</h4>
					<ul class="list-unstyled list-spaces">
						<li><a href="">Check Out New Website</a><br><span class="small text-muted">New website launched february 2018</span></li>
						<li><a href="">New Year Celebration</a><br><span class="small text-muted">Welcome New Year 2018!!</span></li>
						<li><a href="">New Courses Launched</a><br><span class="small text-muted">We launched a new course called "Ruby Digging Deeper"</span></li>
						<li><a href="">X-Mas and New Year </a><br><span class="small text-muted">We celebrated christmas and new year 2017 </span></li>
						
					</ul>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	

		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/custom.js"></script>
