      
      <div class="row">
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="/assets/r1.jpg" alt="">
              <div class="caption">
                <h4>Ruby Basics</h4>
                <p>A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.</p>                
            <p><a href="/course/ruby_basics" class="btn btn-info btn-xs" role="button">More..</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="/assets/ruby.jpg" alt="">
              <div class="caption">
                <h4>Ruby On Rails FastTrack</h4>
                <p>Ruby on Rails is an open-source web framework that’s optimized for programmer happiness and sustainable productivity.
</p>
           	<p><a href="/course/ruby_on_rails_fast_track" class="btn btn-info btn-xs" role="button">More..</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="/assets/ruby on rails advanced.jpg" alt="">
              <div class="caption">
                <h4>Ruby On Rails-Advance</h4>
                <p>Ruby on Rails is an open-source web framework that’s optimized for programmer happiness and sustainable productivity. Become a web application developer</p>
               <p><a href="/course/ruby_on_rails_regular" class="btn btn-info btn-xs" role="button">More..</a></p>
            </div>
          </div>
        </div>

        
         <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="/assets/img5.jpg" alt="">
              <div class="caption">
                <h4>Ruby With Cucumber</h4>
                <p>A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.
</p>                
            <p><a href="/course/ruby_with_cucumber" class="btn btn-info btn-xs" role="button">More..</a></p>
            </div>
          </div>
        </div>



        
      </div><!-- End row -->



      <div class="row">
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="/assets/ruby1.jpg" alt="">
              <div class="caption">
                <h4>Ruby Digging Deeper</h4>
                <p>A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.</p>                
            <p><a href="/course/ruby_advanced" class="btn btn-info btn-xs" role="button">More..</a></p>
            </div>
          </div>
        </div>
   <!--   <div class="row">
       
<div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="/assets/img4.jpg" alt="">
              <div class="caption">
                <h4>Ruby With Rspec</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt.</p>
                <p><a href="#" class="btn btn-info btn-xs" role="button">More..</a></p>
            </div>
          </div>
          
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="/assets/img6.jpg" alt="">
              <div class="caption">
                <h4>Ruby With Watir</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt.</p>
           	<p><a href="#" class="btn btn-info btn-xs" role="button">More..</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="/assets/img7.jpg" alt="">
              <div class="caption">
                <h4>Ruby with Capybara</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt.</p>
               <p><a href="#" class="btn btn-info btn-xs" role="button">More..</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="/assets/img8.jpg" alt="">
              <div class="caption">
                <h4>Ruby With Selenium</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt.</p>
                <p><a href="#" class="btn btn-info btn-xs" role="button">More..</a></p>
            </div>
          </div>
          
        </div>-->
      
    </div><!-- End container -->
 
	
    <div class="container">
		<div class="row">			
			<!-- Article content -->
		<!--	<article class="col-sm-12 maincontent"> 
				<h3>Ruby Basics – for beginners
</h3>
				<p><img src="/assets/about.jpg" alt="" class="img-rounded pull-right" width="300" > A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.
</p>
				<h3>Ruby on Rails – Full Stack Framework 
</h3>	
<p>Ruby on Rails is an open-source web framework that’s optimized
for programmer happiness and sustainable productivity. Become a wed application developer in just one month
</p>				
				<h3>Ruby on Rails – Full Stack Framework 
</h3>
				<p> Ruby on Rails is an open-source web framework that’s optimized
for programmer happiness and sustainable productivity. Become a wed application developer in just one month</p>
				<h3>Ruby with Cucumber
</h3>
<p>A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.</p>				
			</article>	-->
		</div>
        
       </div>

</div>
</font>
</div></div></div>




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/custom.js"></script>



