
    <div class="row">         
        <div class="col-md-6">
          <div class="heading">  
            <h2>About Us</h2>
            <br/>
          </div> 
              <p>Looking for Professional Ruby on Rails Online Course?.Your search ends here.We are one of the Leading Ruby on Rails Training Specialist in Asia.Become a Professional Ruby on Rails Developer in just 2 months!.Call us for a free Quote. </p>
              <p>
              At RSun Technology, we are committed to transform the way the corporate training is procured, organized, delivered, and training results measured - setting the benchmarks in the Corporate Training Industry & be the leader - enabling organizations & communities to swiftly enrich their knowledge capital/skills.</p>
              <blockquote class="blockquote-1">
                <marquee behavior="scroll" direction="up" scrollamount="5">
                  <br>               


           "The classes with Krishna veni are very in depth and she takes her time explaining the concepts in detail. She is always available and very helpful and have a lot of patience and very skilled at teaching ROR."

                              <p align= "right">
                                <img src="/assets/2.jpg" alt="" height="100" width="100"><br>

                              	Kalpana choudhary,USA
                  </p><br>


"I have taken ruby on rails training as well as done a real time project under her guidance, krishnaveni is a dedicated tutor and she has good knowledge in the technology,she has wonderful ability in making her students understand from the very basics regardless...
                    <p align= "right">
<img src="/assets/5.jpg" alt="" height="100" width="100"><br>
Amulya Krishna,Hyderabad

                  </p><br>

                  "Veni is a great instructor. I took a remote class with her on Skype doing screenshare and pair programming. She is punctual always on time and is constant communication with you even after you complete one of her class....<p align= "right">
<img src="/assets/4.jpg" alt="" height="100" width="100"><br>
Puru D TX, USA 

                  </p><br>

                </marquee>
               <div class="row">

              
							<div class="col-sm-6" >

								<p><a href="/rsun_technology/student_testimony" class="btn btn-info btn-xs" role="button">More..</a></p>
							</div>

                
                 </blockquote>


                
        </div>


         

        <div class="col-md-6">
            <div class="blockquote-box blockquote-info clearfix">
              <div class="heading">  
                <h2>Our Services</h2>
                <br/>
              </div> 
                <div class="square pull-left">
                    <i class="fa fa-pencil-square-o fa-3x circle"></i>
                </div>
                <h4>
                      Application Development </h4>
                <p>
                    We develope user friendly,interactive web applications.
            </div>
            <div class="blockquote-box blockquote-success clearfix">
                <div class="square pull-left">
                     <i class="fa fa-cloud-download fa-3x circle"></i>
                </div>
                <h4>
                    Support and Maintenance
</h4>
                <p>
                    We provide support and maintenance for web application.
                </p>
            </div>
            <div class="blockquote-box blockquote-primary clearfix">
                <div class="square pull-left">
                    <i class="fa fa-university fa-3x circle"></i>
                </div>
                <h4>
                    Final Year Projects </h4>
                <p>
                    We provide project guidence for final year students.
                </p>
            </div>
           
        </div>
    </div>
