

	<!-- container -->	<div class="container">
		<%=yield%>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Our Services</h1>
				</header>
				<div class="panel">

					<h1 class="page-title">We are specialist in</h1>
						<ul>
<li>Online Training</li>
<li>Class Room Training</li>
<li>Corporate Training</li>
<li>Project Training</li>

</ul>
	<header class="page-header">
<h1 class="page-title">Research And Development</h1>
					
<li> Application Development </li>
<li>Support and Maintenance</li>

<li>Final Year Projects</li>


					
					
				</div>


				
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">
				<header class="page-header"><h4>Courses offerd here</h4>
					<ul class="list-unstyled list-spaces">
						<li><a href="/course/ruby_basics">Ruby Basics</a><br><span class="small text-muted">A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.</span></li>
						<li><a href="/course/ruby_on_rails_fast_track">Ruby On Rails Fast Track</a><br><span class="small text-muted">Ruby on Rails is an open-source web framework that’s optimized for programmer happiness and sustainable productivity.</span></li>
						<li><a href="/course/ruby_on_rails_regular">Advanced Ruby On Rails</a><br><span class="small text-muted">Ruby on Rails is an open-source web framework that’s optimized for programmer happiness and sustainable productivity. Become a web application develope</span></li>
						
						<li><a href="/course/ruby_with_cucumber">Ruby With Cucumber
						</a><br><span class="small text-muted">A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.</span></li>

						<!--<li><a href="#">Ruby With Rspec</a><br><span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span></li>
						
							<li><a href="#">Ruby With Watir</a><br><span class="small text-muted">Eveniet, consequuntur eius repellendus eos aliquid molestiae ea</span></li>
							<li><a href="#">Ruby with Capybara</a><br><span class="small text-muted">Eveniet, consequuntur eius repellendus eos aliquid molestiae ea</span></li>
					</ul>-->



				</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->

		<!-- /container -->

