<!-- container -->
    <div class="container"> 

        <div class="row">
            
            <!-- Sidebar -->
            <aside class="col-md-4 sidebar sidebar-left">

                <div class="row panel">
                    <div class="col-xs-12">
                       
                <div class="row panel">
                    <div class="col-xs-12">
                        <h4>Student Testimony</h4>
                        <p><img src="/assets/1.jpg" alt=""></p>
                        <p>Vaijayanti M – UK
</p>
                    </div>
                </div>
            </div>
        </div>


            </aside>
            <!-- /Sidebar -->

            <!-- Article main content -->
            <article class="col-md-8 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Student Success Stories</h1>
                </header>
                

                <blockquote>
                    
                    "The Tuition I received met my needs in every way.The lessons were delivered in s professional, but friendly manner from quiet,unassuming and extremely patient lady, I am pleased to have her as my tutor. The tuition was of level I could understand and gave me confidence to try all my functions on my laptop "
                </blockquote>

            </article>
            <!-- /Article -->
</div>
         
         <div class="row">
            <aside class="col-md-4 sidebar sidebar-left">

                <div class="row panel">
                    <div class="col-xs-12">
                       
                <div class="row panel">
                    <div class="col-xs-12">
                        <p><img src="/assets/2.jpg" alt=""></p>
                        <p>Kalpana choudhary - USA

</p>
                    </div>
                </div>
            </div>
        </div>

            </aside>

            <article class="col-md-8 maincontent">
                <header class="page-header">
                     </header>
                

                <blockquote>
                    "The classes with Krishna veni are very in depth and she takes her time explaining the concepts in detail. She is always available and very helpful and have a lot of patience and very skilled at teaching ROR. "

                </blockquote>

            </article>
        </div>



             <div class="row">


<aside class="col-md-4 sidebar sidebar-left">

                <div class="row panel">
                    <div class="col-xs-12">
                       
                <div class="row panel">
                    <div class="col-xs-12">
        
                        <p><img src="/assets/3.jpg" alt=""></p>
                        <p>Vinitha Krishnasamy Natarajan 

NewZealand
</p>
                    </div>
                </div>
            </div>
        </div>

            </aside>
            <article class="col-md-8 maincontent">
                <header class="page-header">
                     </header>
                

                <blockquote>
                    "Krishna has provided a valuable resource through her training. Krishna's most striking feature is how to connect content knowledge with real world practice so that students can exhibit learning. She looks at the best teaching from a more bird's eye view.I would definitely rate her as a best teacher. "
                </blockquote>

            </article>
        </div>



                    <div class="row">


<aside class="col-md-4 sidebar sidebar-left">

                <div class="row panel">
                    <div class="col-xs-12">
                       
                <div class="row panel">
                    <div class="col-xs-12">
        
                        <p><img src="/assets/4.jpg" alt=""></p>
                        <p>Puru  D.  TX, USA </p>
                    </div>
                </div>
            </div>
        </div>

            </aside>
            <article class="col-md-8 maincontent">
                <header class="page-header">
                     </header>
                

                <blockquote>
                    "Veni is a great instructor. I took a remote class with her on Skype doing screenshare and pair programming. She is punctual always on time and is constant communication with you even after you complete one of her class. She is more like a friend/ a close sister who cares about you a lot. She takes classes at your level of knowledge and understanding about the subject matter she is teaching and will make sure you understand what is there to be understood. She is a mentor, and is always ready to help with your task/project is you need second pair of eyes. With her, its never about the money but always about learning good things together. She is the best. I am still in contact with her. Pappu Cypress, TX, USA "

                </blockquote>

            </article>
        </div>




                    <div class="row">


<aside class="col-md-4 sidebar sidebar-left">

                <div class="row panel">
                    <div class="col-xs-12">
                       
                <div class="row panel">
                    <div class="col-xs-12">
        
                        <p><img src="/assets/5.jpg" alt=""></p>
                        <p>Amulya Krishna 
Hyderabad,India

</p>
                    </div>
                </div>
            </div>
        </div>

            </aside>
            <article class="col-md-8 maincontent">
                <header class="page-header">
                     </header>
                

                <blockquote>
                    "I have taken ruby on rails training as well as done a real time project under her guidance, krishnaveni is a dedicated tutor and she has good knowledge in the technology,she has wonderful ability in making her students understand from the very basics regardless the student knows it or not..the best part of her is giving assignments or tasks after the class to finish in order to keep the students busy and work on the technology and I must say she is more like a friend than a trainer...my training with krishnaveni has been of great benefit to me...I learned a lot from her and it helped me a lot....she is good source of knowledge and delivers everything what she has...she will always be ready to clear the doubts at anytime and also even after the training....so I would suggest her as a good knowledgeable and professional trainer..Thanks a lot krishnaveni for your help and all the best "

                </blockquote>

            </article>
        </div>
                <div class="row">


<aside class="col-md-4 sidebar sidebar-left">

                <div class="row panel">
                    <div class="col-xs-12">
                       
                <div class="row panel">
                    <div class="col-xs-12">
        
                        <p><img src="/assets/6.jpg" alt=""></p>
                        <p>Vikas Verma 
Hyderabad,India

</p>
                    </div>
                </div>
            </div>
        </div>

            </aside>
            <article class="col-md-8 maincontent">
                <header class="page-header">
                     </header>
                

                <blockquote>
                    "Krishna given me online training classes on Ruby On Rails via Skype. All the sessions was very nice and useful. She given me classes on Saturday & Sunday also according to my timings availability. I really appreciated her, due to her only I am able to handle that application in my project. She given me classes from basic to higher levels. She is very good teacher, explaining style is also very nice; any person can get easily understand. really nice experience. Thanks Veni, thank you so much. With Warm Regards Vikas Verma | 

                </blockquote>

            </article>
        </div>






    </div>  <!-- /container -->
    